<p>books index</p>

<h1>Books</h1>
<thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
    <th></th>
  </tr>
</thead>
<% @books.each do |book| %>
<tbody>
  <tr>
    <th></th>
    <th><%=link_to "#{book.title}", book_path(book.id) %></th>
    <th><%= book.body %></th>
    <th></th>
  </tr>
</tbody>
<% end %>